
Day14_Word2VecImplementation/w2v_model_vectors.vectors.npy
Day14_Word2VecImplementation/data/desktop.ini
.ipynb_checkpoints/Day8_PatternMatcherFunctionUsingPython-checkpoint.ipynb
Day14_Word2VecImplementation/data/GoogleNews-vectors-negative300.bin.gz
Day14_Word2VecImplementation/w2v_model
Day14_Word2VecImplementation/w2v_model.trainables.syn1neg.npy
Day14_Word2VecImplementation/w2v_model.wv.vectors.npy
Day14_Word2VecImplementation/w2v_model_vectors
